
// ... Semantic UI except "paddles"
.paddles {
  height: 50rem;

  .ui.vertical.menu {
    position: absolute;
    top: 6rem;
    left: 4rem;
  }

  .athlete {
    position: absolute;
    top: 6rem;
    left: 65%;

    color: orange;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;

    // ... Semantic UI
    .item {
      // ... Semantic UI
      .content {
        font-size: 2rem;
        font-weight: bolder;
        letter-spacing: 0.1rem;
      }
    }
  }

  .paddle-info {
    position: absolute;
    top: 50%;
    left: 65%;

    color: orange;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    max-width: 20rem;

    // ... Semantic UI
    .item {
      // ... Semantic UI
      .content {
        font-size: 1.2rem;
        font-weight: bolder;
        letter-spacing: 0.1rem;

        // ... why
        margin-bottom: 1rem;
      }
    }
  }
}
